// ========== VARIABLES ========== //

//---------- SUMMARY ----------//
// SCAFFOLDING
// TITLE
// SIDE MENU
//---------- END SUMMARY ----------//


// SCAFFOLDING
$nunito-font:               'Nunito', sans-serif;
$text-color:                #000;

$content-box-bg:            #FFF;
$content-box-padding:       20px;


// TITLE
$page-title-size:         1.286rem; /* 18/14 */
$page-title-color:        red;
$page-subtitle-size:      1rem; /* 14/14 */
$page-subtitle-color:     red;

$title-size:              1.143rem; /* 16/14 */
$title-color:             $page-title-color;
$subtitle-size:           1rem; /* 14/14 */
$subtitle-color:          $page-subtitle-color;


// SIDE MENU
$side-menu-width: 250px;
